################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoryOfAGod/.vs/StoryOfAGod/FileContentIndex/2966091f-43bb-45ae-a102-e3bc32b1d4cf.vsidx
